.button-order {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 20px !important;
    padding-inline: 1.5em !important;
    font-weight: 600 !important;
}