.game-info {
    background-color: #7D53DE !important;
}

.info-tag {
    background-color: #F2F4F8;
    border-radius: 20px;
    margin-top: 1em !important;
    margin-bottom: 1em;
    font-weight: 500;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}