.game-info {
    background-color: #7D53DE !important;
}

.tags-table {
    width: 100%;
    border-collapse: collapse;
}

.tags-table th,
.tags-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tags-table th,
.tags-table td {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

.tag-cell {
    padding: 8px 12px;
}

.tag-content {
    display: flex;
    align-items: center;
}

.tag-content span {
    margin-left: 10px;
}