.footer-description {
    color: #A1A1A1;
    max-width: 500px;
    margin: 0 auto;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    border-bottom: solid 2px #7D53DE;
}

.footer-text {
    color: #7D53DE;
}

@media (max-width: 448px) {
    .footer-logo-name {
        font-size: medium;
    }
}